<table class="table  table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Total no. NFTs</th>
        <th scope="col">Means of payment</th>
        <th scope="col">Buy NFT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td> {{ customer.first_name }} {{ customer.last_name }} </td>
          <td> {{ customer.email }} </td>
          <td> {{ customer.total_no_of_nfts }} </td>
          <td><form action="" method="post">
            {%csrf_token%}
            {{orderForm.as_p}}
            <input type="submit" value="Save" class="btn btn-secondary">
          </form>
        </td>        
        <td>
          <form action="" method="post">
            <label for="NFT">Number of NFTs</label>
            {%csrf_token%}
            <input  type="number" id="NFT" ><br>
            </form>
            <input  id="creditCard" type="submit" value="Buy" class="btn btn-secondary">
            </td>   
        </tr>
      </tbody>
    </table>        
    {% for card in metadata%}
    {% if forloop.counter0|divisibleby:3 %} <div class="row">{%  endif %}
      <div class="card m-5 p-2" style="width: 18rem;">
        {% load static %}
        <img src="{% static 'nft/'%}{{card.cover_file_name}}"  class="card-img-top" alt="..." width="50" height="200"/>
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <br>
          <p class="card-text">{{card.description}}</p>
        </div>
      </div>
    {%  if forloop.counter|divisibleby:3 or forloop.last %}</div> {%  endif %}
    <br>
    {% endfor %}
    <p> credit card </p>