{% extends "base.html" %}
{% block content%}

{% if user.is_authenticated %}
    {% if customer.type == "CRYPTO"%}
      {% include "crypto_user.html" %}    
      
      {% else %}
      {% include "credit_card_user.html" %}    
    
      {% endif %}
    {% else %}
    <div class="col-md-6 offset-md-3"> 
    <h1> Login </h1>
    <br/>
    <form method="POST" action="{% url 'home' %}"> 
        {% csrf_token %}        
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username" name="username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form> 
      </div>
{% endif %}
{% endblock content%}